.Rproj.user
.Rhistory
.RData
.Ruserdata
Data/Raw/glc2000_v1_1.tif
Data/Raw/glc2000_v1_1.clr
Data/Raw/glc2000_v1_1.tfw
Data/Raw/glc2000_v1_1_projinfo.hdr
Data/Raw/glc2000_v1_legend.avl
Data/Raw/Global_Legend.xls
Data/Resource/DEM/gm_el_v1_1_1.tif
Data/Resource/DEM/gm_el_v1_1_2.tif
Data/Resource/DEM/gm_el_v1_1_3.tif
Data/Resource/DEM/gm_el_v1_1_4.tif
Data/Resource/DEM/gm_el_v1_1_5.tif
Data/Resource/DEM/gm_el_v1_1_6.tif
Data/Resource/DEM/gm_el_v1_2_1.tif
Data/Resource/DEM/gm_el_v1_2_2.tif
Data/Resource/DEM/gm_el_v1_2_3.tif
Data/Resource/DEM/gm_el_v1_2_4.tif
Data/Resource/DEM/gm_el_v1_2_5.tif
Data/Resource/DEM/gm_el_v1_2_6.tif
Data/Resource/2000tmin/wc2.1_10m_tmin_2000-01.tif
Data/Resource/2000tmin/wc2.1_10m_tmin_2000-02.tif
Data/Resource/2000tmin/wc2.1_10m_tmin_2000-03.tif
Data/Resource/2000tmin/wc2.1_10m_tmin_2000-04.tif
Data/Resource/2000tmin/wc2.1_10m_tmin_2000-05.tif
Data/Resource/2000tmin/wc2.1_10m_tmin_2000-06.tif
Data/Resource/2000tmin/wc2.1_10m_tmin_2000-07.tif
Data/Resource/2000tmin/wc2.1_10m_tmin_2000-08.tif
Data/Resource/2000tmin/wc2.1_10m_tmin_2000-09.tif
Data/Resource/2000tmin/wc2.1_10m_tmin_2000-10.tif
Data/Resource/2000tmin/wc2.1_10m_tmin_2000-11.tif
Data/Resource/2000tmin/wc2.1_10m_tmin_2000-12.tif
Data/Resource/2000tmax/wc2.1_10m_tmax_2000-01.tif
Data/Resource/2000tmax/wc2.1_10m_tmax_2000-02.tif
Data/Resource/2000tmax/wc2.1_10m_tmax_2000-03.tif
Data/Resource/2000tmax/wc2.1_10m_tmax_2000-04.tif
Data/Resource/2000tmax/wc2.1_10m_tmax_2000-05.tif
Data/Resource/2000tmax/wc2.1_10m_tmax_2000-06.tif
Data/Resource/2000tmax/wc2.1_10m_tmax_2000-07.tif
Data/Resource/2000tmax/wc2.1_10m_tmax_2000-08.tif
Data/Resource/2000tmax/wc2.1_10m_tmax_2000-09.tif
Data/Resource/2000tmax/wc2.1_10m_tmax_2000-10.tif
Data/Resource/2000tmax/wc2.1_10m_tmax_2000-11.tif
Data/Resource/2000tmax/wc2.1_10m_tmax_2000-12.tif
Data/Resource/2000prec/wc2.1_10m_prec_2000-01.tif
Data/Resource/2000prec/wc2.1_10m_prec_2000-02.tif
Data/Resource/2000prec/wc2.1_10m_prec_2000-03.tif
Data/Resource/2000prec/wc2.1_10m_prec_2000-04.tif
Data/Resource/2000prec/wc2.1_10m_prec_2000-05.tif
Data/Resource/2000prec/wc2.1_10m_prec_2000-06.tif
Data/Resource/2000prec/wc2.1_10m_prec_2000-07.tif
Data/Resource/2000prec/wc2.1_10m_prec_2000-08.tif
Data/Resource/2000prec/wc2.1_10m_prec_2000-09.tif
Data/Resource/2000prec/wc2.1_10m_prec_2000-10.tif
Data/Resource/2000prec/wc2.1_10m_prec_2000-11.tif
Data/Resource/2000prec/wc2.1_10m_prec_2000-12.tif
Data/Resource/gpw_v4_population_density_rev11_2020_30_sec.tif
Data/Resource/Population/gpw_v4_population_density_rev11_2020_30_sec.tif
Data/Resource/Soil/HWSD.bil
Data/Resource/Soil/HWSD.hdr
Data/Resource/Soil/HWSD.prj
Data/Resource/Soil/HWSD.stx
Data/Processed/rf_model.RData
