.Rproj.user
.Rhistory
.RData
.Ruserdata
Data/Raw/glc2000_v1_1.tif
Data/Raw/glc2000_v1_1.clr
Data/Raw/glc2000_v1_1.tfw
Data/Raw/glc2000_v1_1_projinfo.hdr
Data/Raw/glc2000_v1_legend.avl
Data/Raw/Global_Legend.xls